
/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* Import CSS variables */
@import url(./partials/variables.css);

/* Import global classes */
@import url(./partials/globals.css);

/* Start header */

.header_area .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .navbar .navbar-brand img {
    height: 3rem;
    width: 5rem;
}

.header_area .navbar {
    padding: 0.5rem 4rem;
    opacity: 0.8;
}

.header_area .nav-item .nav-link {
    font-family: var(--pacifico);
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 1.5rem 0 1.5rem;
    color: var(--title-color-2);
}

.header_area .nav-item:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End header */

/* Start banner */

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.site-main .site-banner .site-title h1 > span{
    background-color: var(--tag-color);
}

.site-main .site-banner .site-title h4{
    font-size: 1rem;
    padding-bottom: 1rem;
}

.site-main .site-banner .banner-image img{
    padding: 4rem 3rem;
}
/* End banner */

/* Start About */
.site-main .about-area p{
    padding: 1em;
    color: var(--text-color-1);
    text-shadow: var(--shadow-color);
}
/* End About */

/*Start experience area*/

.site-main .experience-area .row img{
    padding: 1em;
}

.site-main .experience-area .row .about-experience h2{
    font-weight: 500;
    font-family: var(--comfortaa);
    padding-top: 0.5rem;
}

.site-main .experience-area .row .about-experience p{
    color: var(--text-color-2);
    margin-top: 1rem;
}

/*End experience area*/

/*Start projects area*/

.site-main .projects-area .row img{
    border-radius: 10px;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
    
}

.site-main .projects-area .row .tags > span {
    padding: 0.2rem 1rem;
    border-radius: 10px;
    background-color: var(--tag-color);
    margin-top: 1rem;
}

.site-main .projects-area .row .about-project h2{
    font-weight: 500;
    font-family: var(--comfortaa);
    padding-top: 0.5rem;
}

.site-main .projects-area .row .about-project p{
    color: var(--text-color-2);
    margin-top: 1rem;
}

.site-main .projects-area .row .about-project .github-link{
    margin-top: 1.5rem;
}

.site-main .projects-area .row .about-project .github-link i{
    font-size: 2rem;
}

/* End projects area */

/* Contacts area */

.contact-area .form-control {
    margin: 1rem 0rem;
}

.contact-area .contact-image img{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
}
.footer-area .social h5 {
    font-weight: 500;
    font-family: var(--comfortaa);
}

.footer-area .social i {
    font-size: 2rem;
    padding: 1rem;
}

.splash {
    height: 0px;
    padding: 0px;
    border: 130em solid #039be5;
    position: fixed;
    left: 50%;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
  
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
 
#welcome {
    background: #311b92 ;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
  }

/* moveIn */
header {
  opacity: 0;
  animation: moveIn 3s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #311b92;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #039be5;
  }
}

@keyframes materia {
  0% {
    background: #039be5;
  }
  50% {
    background: #039be5;
    top: 26px;
  }
  100% {
    background: #311b92;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 