
html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS variables */
:root {
    --tag-color: #b4d966;
    --box-color: rgba(255, 255, 255, 0.5);
    --title-color-1: white;
    --text-color-1: #f7faff;
    --title-color-2: black;
    --text-color-2: #5b616b;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #00bf46 0%, #006124 100%);
    --shadow-color:  1px 1px 0px rgba(0, 0, 0, 0.6);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    --pacifico: "Pacifico", cursive;
    --comfortaa: "Comfortaa", cursive;

}